{% extends "projects.html" %}

{% block blogcontent %}

<h1 class="blog-post-title">Home Field Advantage (pt 2)</h1>
<p class="blog-post-meta">December 17th, 2015</p>


<p>Last week, I introduced some ideas about home field advantage across the NFL. To briefly summarize: more games are won at home, more points are scored at home, and less points allowed at home. Just to provide some numbers (with some rounding): every year, each team is expected to have one more game at home than away; every game, the home team is expected to have a field goal worth of points more than the away team (this is a generous rounding). In other words, across the NFL, the home field advantage is a marginal effect.</p>

<p>Here in Seattle, we like to boast about the 12s and we have the highest number of false starts to back it up. But what is the actual result of playing at home? And how do we compare against other teams in the NFL?</p>

<p>Like last week, I'll be using the points per game (PPG), points allowed per game (PAPG), the spread per game (SPG), and win rating. So let's get started.</p>

<h2>At-Home Win-Rating</h2>
<p>Who has the best at-home win rating (2009 - 2015 week 14)? I'll get right to it:</p>
<ol>
<li>New England (0.909)</li>
<li>Green Bay (0.818)</li>
<li>Baltimore (0.759)</li>
<li>Seattle (0.722)</li>
<li>Pittsburgh (0.709)</li>
</ol>

<p>This is not surprising since NE and GB win a bunch of games overall - both at home and away. To isolate the home field advantage, I looked at the at-home to away in rating ratio. In general, this is greater than 1.0. In fact, since 2009, all but three teams have won more home games than away. For those who are curious, those three teams are Philadelphia, Dallas, and Tampa Bay. So, who has the best at-home win rating ratio?</p>
<ol>
<li>Jacksonville (2.053)</li>
<li>Minnesota (2.037)</li>
<li>Cleveland (1.964)</li>
<li>Baltimore (1.74)</li>
<li>St. Louis (1.662)</li>
<li>Seattle (1.655) - I had to put this one in.</li>
</ol>

<p>Where did NE and GB go? Like I said earlier, they win games no matter where they play. In the win rating ratio list, NE and GB come in at 11th and 12th place with 1.444 and 1.425, respectively.</p>

<p>Where did Jacksonville, Minnesota, and Cleveland come from? The team with the best win rating ratio is Jacksonville, with a staggering 0.418 at-home win rating. That is bad, but not the worst! They have the 26th best at-home win rating. Unfortunately for them, that means they have a pitiful away win rating. It is a similar situation for Cleveland (0.4 win rating, 29th place). Minnesota, on the other hand, comes in closer to the middle of the list (0.630, 13th place).</p>

<p>Do I actually care about Jacksonville, Minnesota, Cleveland, New England, or Green Bay? Not really. I'm more interested in teams who consistently perform well at home, and not just because they always perform well. I'm going to call these Type A teams. There won't be other types, but it'll help me talk about teams with Type A characteristics. Teams like Jacksonville, Minnesota, and Cleveland play a lot better at home than they do away, but that doesn't actually mean they play well at home. New England and Green Bay on the other hand play well no matter where they are. So which teams are Type A? I made a chart to help me identify them:</p>
  
<div>
<img class='blog-image img-responsive' src='{{ url_for("static", filename="images/20151217_homefieldadvantage2/winratingratiovswinrating.png") }}' alt="win rating">
</div> <!-- end blog-image -->

<p>Allow me to break this chart up into four groups. Teams towards the bottom left corner don't win at home, but don't do much worse away (except for PHI, DAL, and TB, who do better away). Teams towards the bottom right corner don't win at home, and really don't do well away, either. Teams in the top left play well at home and don't do much worse away, but there aren't too many teams here, if any. The last group is the Type A group - teams towards the top right play well at home, and not as well when they play away.</p>

<p>If I were feeling hand-wavey, I would assign New England, Green Bay, SF, Arizona, Seattle, Baltimore, and Minnesota as Type A teams. Instead, I'll do something quantitative.</p>

<p class="indented-p">Quick tangent: I did cross country in high school (sort of...). To quantify how well each school performed, they would take the first five runners of each school, and add up when they crossed the finish line. The team with the lowest score won. I'll do something similar for this analysis.</p>

<p>I added up how each team places with respect to their at-home win rating to how each team places with respect to their win rating ratio. With no surprise, the top seven teams are Baltimore (7), Seattle (10), New England (12), Green Bay (14), Minnesota (15), San Francisco (17), and Arizona (18).</p>

<p>So which teams are Type A? Well seeing as I made up the term and definition, I'm only going to arbitrarily say any team less than 11 points is Type A. Looks like Seattle makes the cut (whew!). Again, I'm just joking. It's up to the reader to decide for themselves who they want to put in the Type A group.</p>

<p>Now that we have an idea of who has a significant home field advantage, let's go a little deeper and look at how their offensive and defensive performances are effected. To do this, I used each team's PPG and PAPG.</p>

<h2>Points Per Game</h2>
<p>Who has the highest at-home PPG? Since 2009, New England and Green Bay take the top of the list - no surprise there.
<ol>
<li>New England (32.236)</li>
<li>Green Bay (31.109)</li>
<li>New Orleans (30.556)</li>
<li>Denver (27.352)</li>
<li>Dallas (26.037)</li>
</ol>
And who has the highest at-home to away PPG ratio?
<ol>
<li>St. Louis (1.3)</li>
<li>Detroit (1.29)</li>
<li>Green Bay (1.243)</li>
<li>Seattle (1.235)</li>
<li>Baltimore (1.215)</li>
</ol>
St. Louis, at the top of the ratio list, comes in at 28th in the PPG list; they don't score very well at away games. I'll get straight to the visualization:
</p>

<div>
<img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20151217_homefieldadvantage2/ppgratiovsppg.png") }}' alt="ppg">
</div> <!-- end blog-image -->

<p>And the top five teams with respect to PPG and PPG ratio:
<ol>
<li>Green Bay (5)</li>
<li>New Orleans (9)</li>
<li>Baltimore (11)</li>
<li>Detroit (12)</li>
<li>Dallas, New England, Seattle (16)</li>
</ol>
Who stands out here? Tom Brady, Aaron Rodgers, and Drew Brees - three of the biggest QBs out there.  They score more points at home by such a large margin that, despite New Orleans and Green Bay's impressive PPG ratio, they're still at the top of the list for away game PPGs - 3rd (25.273) and 4th (25.019) place, respectively. Philadelphia managed sneaked in to 2nd place with 25.327 points thanks to their close to 1.0 PPG ratio.</p>

<p>Who else stands out? St. Louis. They score a miserable 19.036 PPG at home (4th from last), and 14.648 PPG away (dead last).</p>

<p>What about Seattle? Our offense has its moments, but it also has some moments, e.g. our final play of Super Bowl 49, and other frequent frustrations in the red zone. Despite this, we score almost 25% more points at home than away. Lots of people attribute our performance at home to the stadium's ability to amplify and redirect noise onto the field, but I don't see how that could really improve our offense, so thank you 12s for helping our team put points on the board!<p>

<p>Quick note: I don't mean to put down Seattle's offense. When it is on, it is on. In these last three weeks, Russ Wilson had a combined total of 13 TDs and 911 passing yards. That's amazing, even for QB super stars! That doesn't even account for Rawls and his running game. OK, moving on.</p>

<h2>Points allowed per game and away field disadvantage</h2>

<p>Others may think that the best defense is a good offense, but I like to think the best defense is defense. Who's got it? Seattle, and a few others, I guess. Here's the list for at-home PAPG:
<ol>
<li>San Francisco (15.926)</li>
<li>Seattle (16.852)</li>
<li>Baltimore (17.259)</li>
<li>Pittsburgh (17.655)</li>
<li>New England (17.473)</li>
<li>Honorable mention: Green Bay, with 18.8 points allowed per game, at 6th place.</li>
</ol>
I won't bother to post who had the best PAPG ratios and I'll go straight to the vis:</p>

<div>
<img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20151217_homefieldadvantage2/papgratiovspapg.png") }}' alt="papg">
</div> <!-- end blog-image -->

<p>Of the three plots shown above, this one is by far the most linear. One interpretation: across the NFL, the more your defense improves, the more visible that improvement is at home. Why is that? It could very well be because of the fans and home field advantage. Home field advantage could amplify any improvements made on defense for the home team. Instead of calling it home field advantage, maybe we should call it away field disadvantage (clever, I know).</p>

<p>Due to the linear nature of the plot, I don't have to do anything fancy to rank the teams in terms of PAPG and the PAPG ratio; the team's that have the best PAPG also have the best ratios. I'm going to do it anyway, just to be consistent:
<ol>
<li>SF (2)</li>
<li>SEA (5)</li>
<li>BAL (7)</li>
<li>NYJ, GB (13)</li>
<li>PIT, IND (14)</li>
</ol>
</p>

<h3>Conclusion</h3>

<p>Teams like New England - well, there aren't any other teams like New England so I guess that just means New England. The New England Patriots have the best offense, and formidable defense. They play amazing at home, and they're still amazing when they're away. On the other hand, teams like Seattle and Baltimore have fairly impressive offensive and defensive performances, and really step up their games at home.</p>

<p>We already looked at who has the best combined at-home win rating and win rating ratio, but there's one last thing I want to look at before I step away from home field advantage and look at other things: which teams improve the most, with respect to PPG and PAPG, at home? Similar plot, different variables:</p>

<div>
<img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20151217_homefieldadvantage2/ppgratiovspapgratio.png") }}' alt="papg vs ppg">
</div> <!-- end blog-image -->

<p>I'm looking at you Seattle! Without doing that cross country rating thing, it's easy to see that between its offense and defense, the Seattle Seahawks have the most significant improvement at home games.</p>

<p>All of the data was collected with <a href="https://github.com/BurntSushi/nflgame">BurntSushi's nflgame</a> package for python. My source code can be found at <a href="https://github.com/kendricktang/homefieldadvantage">https://github.com/kendricktang/homefieldadvantage</a>. If you need some help, check out the README. If that doesn't help, then just leave a comment and I'll do my best to help!</p>

{% endblock %}
