{% extends "projects.html" %}

{% block blogcontent %}

<h1 class="blog-post-title">Angry Doug and the Seattle Receiver Corps</h1>
<p class="blog-post-meta">January 13rd, 2016</p>

<h2>Seattle beats Minnesota in the Wild-Card</h2>
<p>To start this post off, I'd like to name my top three favorite  plays from the Seahawks vs Vikings playoff game last week.
In no particular order they are:
</p>
<ul>
    <li>Blair Walsh whiffing the 27 yard field goal (especially making a couple of 40+ yard attempts earlier)</li>
    <li>Russ Wilson dropping to his knees before connecting with Tyler Lockett</li>
    <li>Doug Baldwin's beyond spectacular one-handed catch</li>
</ul>
<p>
In case you missed that last one, you can watch it
<a href='http://bleacherreport.com/articles/2606620-seahawks-wr-doug-baldwin-leaps-for-ridiculous-1-handed-catch-vs-vikings'>here</a>
</p>

<p>
Now lots of people will attribute the Seahawk's victory over the Vikings to luck, but I think otherwise.
Seattle was definitely lucky when Blair Walsh missed his last field goal attempt,
but it was skill that kept the Viking's offense to zero touchdowns and Adrian Peterson locked down to 45 rushing yards.
For context, in the 2015 regular season Adrian Peterson averaged over 90 yards per game and accumulated the 2nd most
fantasy football points. In otherwords, Seattle defense had the Viking's offence on lockdown.
The Viking's defense, on the other hand, had a very impressive performance.
Seattle only came out with 10 points, which is the fewest they've scored since week 16 of the 2013 season (40+ games).
</p>

<p>
Why didn't Seattle come out with 3+ touchdowns and why did Russell Wilson only have a 63.3 QB rating?
Honestly, I don't even know what a QB rating is, but I know it was much higher in his last few games.
I could say weather was a factor (it was below zero degrees fahrenheit for most of the game).
I could go into how playing away from home effects the Seahawks, but I already did that.
I could even look into what Tyler Lockett ate before the game and how that effected his performance, but I won't.
It could have been several different factors, but that isn't what this post is about.
</p>

<p>
In terms of offense, the Seattle Seahawks had a below average game.
But on average, their offense has done some amazing things this year.
What this post is about is how Seattle's receiver corp has performed this year,
and how they compare to other teams (namely Carolina, for next week).
</p>


<h2>Spectacular Completion Percentages</h2>
<p>
If you're interested in how I collected and cleaned the data, you can check out the end of this post.
If you're interested in seeing how awesome Seattle receivers compare in terms of completion percentages, here's my first set of plots:
</p>
<div class='imgset' id='imgset-compperc'>
    <div class='no-display'>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/compperc_2012.png") }}' alt="completion percentage">
    </div>
    <div class='no-display'>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/compperc_2013.png") }}' alt="completion percentage">
    </div>
    <div class='no-display'>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/compperc_2014.png") }}' alt="completion percentage">
    </div>
    <div>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/compperc_2015.png") }}' alt="completion percentage">
    </div>
</div> <!-- end imgset-compperc -->

<div class='btn-scroller'>
    <a class='btn btn-primary btn-med scroller-left' href="javascript:scroll_images('#imgset-compperc', -1);">&larr;back in time</a>
    <a class='btn btn-primary btn-med scroller-right' href="javascript:scroll_images('#imgset-compperc', 1);">into the future&rarr;</a>
</div>

<p>
First, some details about the plots.
<ul>
    <li>To be completely explicit: the x-axis is the number of pass attempts per game (attspergame),
    and the y-axis is the percentage those attempts are completed or completed (compperc).</li>
    <li>Seahawk receivers get special green dots, and everyone else is grey.</li>
    <li>For comparison, I've labelled Seahawk receivers, as well as some top receivers (e.g. Julio Jones).</li>
    <li>The size of each player's dot is determined by the total number of touchdowns they had in the regular season.</li>
    <li>There's a first-order best fit line for the data with respect to pass attempts per game and completion percentages. Touchdowns do not effect this line.</li>
</ul>
</p>

<p>
Let's talk about 2012-2014. Seattle's receivers don't really stand out in any way. In fact, they're very middle-of-the-pack in terms of the xy-axes,
and less than impressive in terms of point size. So how did Seattle have back-to-back Super Bowl appearances?
During that three year span, Seattle had the highest rush percentage in the NFL - around 54% each year - which is huge compared to the 43% median.
That isn't to say that Seattle's pass offense sucked, but rather heavily relied on a strong rushing presence to open up pass plays.
</p>

<p>
2015 is quite a different picture. Compared to the top receivers, Seattle's top three receivers (Baldwin, Lockett, and Kearse)
are in the top five in terms of completion percentages.
Compared to previous years, Seattle receivers had way more touchdowns!
There are two main differences between 2015 and the previous years.
The first is the absence of Marshawn Lynch.
With Marshawn out due to injuries, Seattle's ability to pass the ball was tested and in terms of touchdowns, they've done a great job.
The other difference is the presence of Tyler Lockett. He's like the Percy Harvin they never really had, and isn't made of glass.
Tyler's speed and intelligence broadens Seattle's offensive playbook which allows for gains in yardage.
</p>

<h2>It's all about that yardage</h2>
<div class='imgset' id='imgset-yardage'>
    <div class='no-display'>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/yardage_2012.png") }}' alt="yardage">
    </div>
    <div class='no-display'>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/yardage_2013.png") }}' alt="yardage">
    </div>
    <div class='no-display'>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/yardage_2014.png") }}' alt="yardage">
    </div>
    <div>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/yardage_2015.png") }}' alt="yardage">
    </div>
</div> <!-- end imgset-compperc -->

<div class='btn-scroller'>
    <a class='btn btn-primary btn-med scroller-left' href="javascript:scroll_images('#imgset-yardage', -1);">&larr;back in time</a>
    <a class='btn btn-primary btn-med scroller-right' href="javascript:scroll_images('#imgset-yardage', 1);">into the future&rarr;</a>
</div>

<p>
This plot set is very similar to the previous one. The only difference is the y-axis is the average yards per attempt for each receiver.
Usually, I see the statistic for yards per completion, but that seems kind of useless. 
I don't care how many yards someone gets if they catch the ball. I want to know what the expected gain is for each attempt, whether or not they catch the ball.
That way, if they suck at catching the ball, that number goes down.
</p>

<p>
The story is similar to before. 2015 is a phenomal year for Seattle in terms of yards per attempt. 
Of note is the fact that every receiver is above the best fit line,
and compared to the top receivers, Seattle is once again near the top of that list.
The previous years, on the other hand, don't look so impressive.
The only thing to note is in 2012 when Baldwin had a comparable yards per attempt to 2015.
</p>

<h2>Throw the ball!</h2>
<p>
What about the pitifully low number of pass attempts?
Seattle has an extremely low number of pass attempts, no matter what year it is.
That seems to be the only thing that I've plotted that doesn't change.
It would be naive to believe that if Seattle starts to pass more often, then they'll get more total yards because they have such high catch percentages.
In fact, it is quite likely that they have high catch percentage and yards per attempt because they pick their passes so well (thanks Russel).
So what does this mean? It means they don't have to throw the ball as often as other teams to get similar results.
Sure, they don't have as many touchdowns, but they have the best defense (with respect to points allowed) in the league to account for that.
It means when Marshawn Lynch gets back on the field they'll have very dangerous and diverse offensive options.
It means watch out Carolina.
</p>

<h2>Playoff Picture</h2>
<p>
The other plots have a lot of data points, so in this section I've provided the same plots restricted to playoff teams.
There's only one new feature: Carolina receivers get blue dots.
</p>

<div class='imgset' id='imgset-yardage'>
    <div>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/compperc_2015_playoffs.png") }}' alt="compperc">
    </div>
    <div>
        <img class="blog-image img-responsive" src='{{ url_for("static", filename="images/20160113_WR/yardage_2015_playoffs.png") }}' alt="yardage">
    </div>
</div>

<h2>Data Stuff</h2>
<p>
Like the other NFL stuff, I got most of the data from <a href="https://github.com/BurntSushi/nflgame">BurntSushi's nflgame</a>,
and my source code can be found 
<a href="https://github.com/kendricktang/nfl_receivers">here</a>.
To get player statistics, I parsed BurntSushi's play-by-play to pick out receiver name, team, yards gained, whether it was a short or deep pass,
and a few other things. This wasn't a perfect process, so a few numbers are off by some amount. To filter out running backs, I grabbed the top 100+
rushers from the <a href='http://espn.go.com/nfl/statistics/player/_/stat/rushing/'>NFL</a> and parsed that to generate a list of running backs for each year. Again, this isn't perfect because I didn't end up with
all of the runningbacks. To account for the low performing running backs that I missed, I only consider receivers with at least 10 attempts and one touchdown.
Rush ratios were pulled from <a href='http://fftoday.com'>fftoday.com</a>. 
</p>
{% endblock %}
