{% extends "projects.html" %}

{% block blogcontent %}



<div class="col-xs-9 blog-main blog-post">
<h1 class="blog-post-title">Taking the Bus in San Francisco</h1>
<p class="blog-post-meta">February 23rd, 2016</p>

<p>
I'm going to try to keep this REALLY short and sweet. If you want to know more
details about how I made this or anything else, you can check out
<a href='https://github.com/kendricktang/Urban-Data-Challenge'>this Github project</a>, or message me. I'm only going to give some user
instructions, and leave it with that.
</p>

<p>
First, I apologize for the crappy interface below...
Anyway, below is a visualization of public busses in San Francisco,
where they are, and how late they are, throughout the day. Red means late,
white means on time, and green means early.
<ul>
    <li>
        <strong>Date Selection</strong>:
        I only have data from Oct 1st, 2012 through Oct 7th, 2012, and you can
        specify which day you want to see with the "Pick a day" drop menu.
    </li>
    <li>
        <strong>Speed Selection</strong>:
        You can select the play-speed in the "Select speed" drop menu.
        The animation currently runs at 1 update per second, but by changing
        speed you can change how many minutes pass per update. Currently,
        slow is 1 minute, medium is 2 minutes, fast is 3 minutes, and very
        fast is a whooping 5 minutes!
    </li>
    <li>
        <strong>Start Time Selection</strong>:
        You can select what time to start the animation with the
        "Select start time" drop menu. Pretty straight forward.
    </li>
    <li>
        <strong>Bus Selection</strong>:
        Using the beautifully spaced and organized (sarcasm) array of
        check boxes, you can select which busses are visualized.
    </li>
    <li>
        <strong>Button Controls</strong>:
        OK, I admit, the buttons are really weird.
        Sorry.
        <ul>
            <li>
                <strong>Resume</strong>: resumes the visualization.
                If you didn't press "reset", then the visualization should just
                continue from where it stopped.
            </li>
            <li>
                <strong>Reset</strong>: resets the visualization!
                This will change the speed and starting time,
                but not what busses are loaded into the system.
            </li>
            <li>
                <strong>Pause</strong>: pauses the visualization.
                Nothing tricky here.
            </li>
            <li>
                <strong>Load routes</strong>: loads the routes into the system.
                To properly load routes, make sure you have the right selections,
                and that you have a date selected.
            </li>
        </ul>
    </li>
</ul>
</p>

<script>
    var width = 800;
    var height = 750;
    var scale = 250000;
    var sf_center = [ -122.43371886937991, 37.76901315955994 ];

    var projection = d3.geo.mercator()
        .scale(scale)
        .center(sf_center)
        .translate([width/2, height/2]);

    var colorscale = d3.scale.linear()
        .domain([-6 * 60, 0, 6 * 60])
        .range(["red", "white", "green"]);

    var canvas = d3.select('div.blog-main').append('svg')
        .attr('width', width)
        .attr('height', height);

        d3.json('{{ url_for("static", filename="js/20160222_transit/sf_hoods.json") }}', function (data) {
            
            var group = canvas.selectAll("g.hoods")
                .data(data.features)
                .enter()
                .append("g");

            var path = d3.geo.path().projection(projection);

            var areas = group.append("path")
                .attr("d", path)
                .attr("class", "area")
                .attr("fill", "#A9A9A9")
                .attr("stroke", "#000000")
                .attr("stroke-width", 0.5);

            d3.json('{{ url_for("static", filename="js/20160222_transit/sf_routes.json") }}', function(data) {

                var path = d3.geo.path().projection(projection);

                var group = canvas.selectAll("g.routes")
                    .data(data.features)
                    .enter()
                    .append("g");

                var streets = group.append("path")
                    .attr("d", path)
                    .attr("stroke", "#f46151")
                    .attr("stroke-width", 2)
                    .attr("fill", "none")
                    .attr("fill-opacity", 0)
                    .attr("stroke-opacity", 0.7);

            });
        });

    var route_data = [];
    var increment = 0;
    var duration = 1000;
    var timer = 0;
    var timer_text = canvas.selectAll('text')
        .data([timer])
        .enter()
            .append('text')
                .attr('x', width/2)
                .attr('y', 30)
                .attr('text-anchor', 'middle')
                .attr('font-size', '20px')
                .text(function(d) { return sec2time(d); });

    function sec2time(seconds) {
        var hours = Math.floor(seconds / 3600);
        if (hours < 10) {
            hours = '0' + hours;
        } else {
            hours = '' + hours;
        }

        var remainder = seconds % 3600;
        var minutes = Math.floor(remainder / 60);
        if (minutes < 10) {
            minutes = '0' + minutes;
        } else {
            minutes = '' + minutes;
        }

        remainder = remainder % 60;
        if (remainder < 10) {
            remainder = '0' + remainder;
        } else {
            remainder = '' + remainder;
        }

        return '' + hours + ':' + minutes + ':' + remainder;
    }

    var circles;

    function get_x(d) {
        var ind = 1;
        while (ind < d.length) {
            if (d[ind].time >= timer) {
                return projection(
                    [d[ind-1].longitude, d[ind-1].latitude])[0];
            }
            ind = ind + 1;
        }
        return projection([d[d.length-1].longitude, d[d.length-1].latitude])[0];
    }

    function get_y(d) {
        var ind = 1;
        while (ind < d.length) {
            if (d[ind].time >= timer) {
                return projection(
                    [d[ind-1].longitude, d[ind-1].latitude])[1];
            }
            ind = ind + 1;
        }
        return projection([d[d.length-1].longitude, d[d.length-1].latitude])[1];
    }

    function get_size(d) {
        var ind = 1;
        while (ind < d.length) {
            if (d[ind].time >= timer) {
                return d[ind-1].size;
            }
            ind = ind + 1;
        }
        return 0;
    }

    function get_color(d) {
        var ind = 1;
        while (ind < d.length) {
            if (d[ind].time >= timer) {
                return colorscale(d[ind-1].d_time);
            }
            ind = ind + 1;
        }
        return "white";
    }

    function render_busses() {
        // Increment timer, and check for when the day ends.
        timer = timer + increment;
        if (timer > 24 * 60 * 60) {
            clearInterval(my_interval);
            return 0;
        }

        // Update timer display
        timer_text = canvas.selectAll('text')
            .data([timer])
                .text(function(d) { return sec2time(d); });

        // Transition circles
        circles = canvas.selectAll('circle')
            .data(route_data)
                .transition()
                    .duration(duration/2)
                    .attr('cx', function(d) { return get_x(d); })
                    .attr('cy', function(d) { return get_y(d); })
                    .attr('r', function(d) { return get_size(d); })
                    .attr('fill', function(d) { return get_color(d); });

        // Create circles
        circles = canvas.selectAll('circle')
            .data(route_data)
                .enter()
                    .append('circle')
                        .attr('cx', function(d) { return get_x(d); })
                        .attr('cy', function(d) { return get_y(d); })
                        .attr('r', function(d) { return get_size(d); })
                        .attr('fill', function(d) { return get_color(d); });

    }

    function load_data(date, list_of_routes) {
        route_data = []
        for (index in list_of_routes) {
            str = '/static/js/20160222_transit/big_oct' + date  + '/' + list_of_routes[index] + '.json';
            d3.json(str, function(error, data) {
                for (key in data) {
                    route_data.push(data[key]);
                }
            });
        }
        console.log('loading data');
    }

    function reset_animation() {
        // clear data and circles
        circles = canvas.selectAll('circle').data([]).exit().remove();
        console.log('resetting animation');


        // update control variables
        update_timer();
        update_speed();


        // stop animation
        clearInterval(my_interval);
    }

    function pause_animation() {
        // simply pause the animation
        console.log('pausing animation');
        clearInterval(my_interval);
    }

    function resume_animation() {
        // stop any animation currently running, and remove circles.
        circles = canvas.selectAll('circle').data([]).exit().remove()
        clearInterval(my_interval);


        // start animation
        console.log('starting animation');
        my_interval = setInterval(render_busses, duration);
    }


    function update_timer() {
        var timer_switch = $("#time-selector").text();
        switch (timer_switch) {
            case "6 AM":
                timer = 3600 * 6;
                break;
            case "12 PM":
                timer = 3600 * 12;
                break;
            case "5 PM":
                timer = 3600 * 17;
                break;
            default:
                timer = 25000;
        }

        timer_text = canvas.selectAll('text')
            .data([timer])
                .text(function(d) { return sec2time(d); });
    }

    function update_speed() {
        var speed_switch = $("#speed-selector").text();
        switch (speed_switch) {
            case "Slow":
                increment = 60;
                break;
            case "Medium":
                increment = 120;
                break;
            case "Fast":
                increment = 180;
                break;
            case "Very Fast":
                increment = 300;
                break;
            default:
                increment = 120;
        }
    }

    function check_check_boxes() {
        var route_arr = [];
        $('.transit-route').each(function(i, obj) {
            if (obj.checked) {
                route_arr.push(obj.id);
            }
        });

        var day = $("#day-selector").text()[4];

        load_data(day, route_arr);
    }

    render_busses();
    var my_interval = setInterval(render_busses, duration);
    clearInterval(my_interval)
</script>

<div class=<transit-options'>

    <div class="row">
        <div class="col-xs-2">
            <button class="dropdown btn btn-default dropdown-toggle replace-by-dropdown" type="button" id="day-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Pick a day:
                <span class="caret"></span>
            </button>
            <ul class='dropdown-menu replace-by-dropdown' aria-labelledby='day-selector'>
                <li>Oct 1st, 2012</li>
                <li>Oct 2nd, 2012</li>
                <li>Oct 3rd, 2012</li>
                <li>Oct 4th, 2012</li>
                <li>Oct 5th, 2012</li>
                <li>Oct 6th, 2012</li>
                <li>Oct 7th, 2012</li>
            </ul>
        </div> <!-- end col-xs-2 -->

        <div class="col-xs-2">
            <button onclick="resume_animation()">resume</button>
            <button onclick="reset_animation()">reset</button>
            <button onclick="pause_animation()">pause</button>
        </div> <!-- end col-xs-2 -->

        <div class="col-xs-2">
            <button onclick="check_check_boxes()">load routes</button>
        </div> <!-- end col-xs-2 -->


        <div class="col-xs-2">
            <button class="dropdown btn btn-default dropdown-toggle replace-by-dropdown" type="button" id="speed-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select speed:
                <span class="caret"></span>
            </button>
            <ul class='dropdown-menu replace-by-dropdown' aria-labelledby='speed-selector'>
                <li>Slow</li>
                <li>Medium</li>
                <li>Fast</li>
                <li>Very Fast</li>
            </ul>
        </div> <!-- end col-xs-2 -->

        <div class="col-xs-2">
            <button class="dropdown btn btn-default dropdown-toggle replace-by-dropdown" type="button" id="time-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select start time:
                <span class="caret"></span>
            </button>
            <ul class='dropdown-menu replace-by-dropdown' aria-labelledby='time-selector'>
                <li>6 AM</li>
                <li>12 PM</li>
                <li>5 PM</li>
            </ul>
        </div> <!-- end col-xs-2 -->
    </div> <!-- end row -->


    <div class="row">
        <div class="col-xs-2">
            <div>01<input class="transit-route" type="checkbox" id="01"></div>
            <div>01AX<input class="transit-route" type="checkbox" id="01AX"></div>
            <div>01BX<input class="transit-route" type="checkbox" id="01BX"></div>
            <div>02<input class="transit-route" type="checkbox" id="02"></div>
            <div>03<input class="transit-route" type="checkbox" id="03"></div>
            <div>05<input class="transit-route" type="checkbox" id="05"></div>
            <div>06<input class="transit-route" type="checkbox" id="06"></div>
            <div>08X<input class="transit-route" type="checkbox" id="08X"></div>
            <div>08AX<input class="transit-route" type="checkbox" id="08AX"></div>
            <div>09<input class="transit-route" type="checkbox" id="09"></div>
            <div>09L<input class="transit-route" type="checkbox" id="09L"></div>
            <div>10<input class="transit-route" type="checkbox" id="10"></div>
            <div>12<input class="transit-route" type="checkbox" id="12"></div>
        </div>

        <div class="col-xs-2">
            <div>14<input class="transit-route" type="checkbox" id="14"></div>
            <div>14L<input class="transit-route" type="checkbox" id="14L"></div>
            <div>14X<input class="transit-route" type="checkbox" id="14X"></div>
            <div>16X<input class="transit-route" type="checkbox" id="16X"></div>
            <div>17<input class="transit-route" type="checkbox" id="17"></div>
            <div>18<input class="transit-route" type="checkbox" id="18"></div>
            <div>19<input class="transit-route" type="checkbox" id="19"></div>
            <div>21<input class="transit-route" type="checkbox" id="21"></div>
            <div>22<input class="transit-route" type="checkbox" id="22"></div>
            <div>23<input class="transit-route" type="checkbox" id="23"></div>
            <div>24<input class="transit-route" type="checkbox" id="24"></div>
            <div>27<input class="transit-route" type="checkbox" id="27"></div>
            <div>28<input class="transit-route" type="checkbox" id="28"></div>
        </div>

        <div class="col-xs-2">
            <div>28L<input class="transit-route" type="checkbox" id="28L"></div>
            <div>29<input class="transit-route" type="checkbox" id="29"></div>
            <div>30<input class="transit-route" type="checkbox" id="30"></div>
            <div>30X<input class="transit-route" type="checkbox" id="30X"></div>
            <div>31<input class="transit-route" type="checkbox" id="31"></div>
            <div>31AX<input class="transit-route" type="checkbox" id="31AX"></div>
            <div>31BX<input class="transit-route" type="checkbox" id="31BX"></div>
            <div>33<input class="transit-route" type="checkbox" id="33"></div>
            <div>35<input class="transit-route" type="checkbox" id="35"></div>
            <div>36<input class="transit-route" type="checkbox" id="36"></div>
            <div>37<input class="transit-route" type="checkbox" id="37"></div>
            <div>38<input class="transit-route" type="checkbox" id="38"></div>
            <div>38AX<input class="transit-route" type="checkbox" id="38AX"></div>
        </div>

        <div class="col-xs-2">
            <div>38BX<input class="transit-route" type="checkbox" id="38BX"></div>
            <div>38L<input class="transit-route" type="checkbox" id="38L"></div>
            <div>39<input class="transit-route" type="checkbox" id="39"></div>
            <div>41<input class="transit-route" type="checkbox" id="41"></div>
            <div>43<input class="transit-route" type="checkbox" id="43"></div>
            <div>44<input class="transit-route" type="checkbox" id="44"></div>
            <div>45<input class="transit-route" type="checkbox" id="45"></div>
            <div>47<input class="transit-route" type="checkbox" id="47"></div>
            <div>48<input class="transit-route" type="checkbox" id="48"></div>
            <div>49<input class="transit-route" type="checkbox" id="49"></div>
            <div>52<input class="transit-route" type="checkbox" id="52"></div>
            <div>54<input class="transit-route" type="checkbox" id="54"></div>
            <div>56<input class="transit-route" type="checkbox" id="56"></div>
        </div>

        <div class="col-xs-2">
            <div>59<input class="transit-route" type="checkbox" id="59"></div>
            <div>60<input class="transit-route" type="checkbox" id="60"></div>
            <div>61<input class="transit-route" type="checkbox" id="61"></div>
            <div>66<input class="transit-route" type="checkbox" id="66"></div>
            <div>67<input class="transit-route" type="checkbox" id="67"></div>
            <div>71<input class="transit-route" type="checkbox" id="71"></div>
            <div>71L<input class="transit-route" type="checkbox" id="71L"></div>
            <div>76<input class="transit-route" type="checkbox" id="76"></div>
            <div>81X<input class="transit-route" type="checkbox" id="81X"></div>
            <div>82X<input class="transit-route" type="checkbox" id="82X"></div>
            <div>83X<input class="transit-route" type="checkbox" id="83X"></div>
            <div>88<input class="transit-route" type="checkbox" id="88"></div>
            <div>90<input class="transit-route" type="checkbox" id="90"></div>
        </div>

        <div class="col-xs-2">
            <div>91<input class="transit-route" type="checkbox" id="91"></div>
            <div>108<input class="transit-route" type="checkbox" id="108"></div>
            <div>E<input class="transit-route" type="checkbox" id="E"></div>
            <div>F<input class="transit-route" type="checkbox" id="F"></div>
            <div>J<input class="transit-route" type="checkbox" id="J"></div>
            <div>K OWL<input class="transit-route" type="checkbox" id="K OWL"></div>
            <div>KT<input class="transit-route" type="checkbox" id="KT"></div>
            <div>L<input class="transit-route" type="checkbox" id="L"></div>
            <div>L OWL<input class="transit-route" type="checkbox" id="L OWL"></div>
            <div>M<input class="transit-route" type="checkbox" id="M"></div>
            <div>M OWL<input class="transit-route" type="checkbox" id="M OWL"></div>
            <div>N<input class="transit-route" type="checkbox" id="N"></div>
            <div>N OWL<input class="transit-route" type="checkbox" id="N OWL"></div>
        </div>

        <div class="col-xs-2">
            <div>NX<input class="transit-route" type="checkbox" id="NX"></div>
            <div>P<input class="transit-route" type="checkbox" id="P"></div>
            <div>T<input class="transit-route" type="checkbox" id="T"></div>
        </div>

    </div> <!-- end row -->

</div>
</div> <!-- end blog -->
{% endblock %}
