body { 
    padding-top: 98px;
    padding-bottom: 20px;
    background-color: rgba(81, 228, 244, 0.1)
}

/* HEADER */
.header {
    height: 98px;
    padding: 0;
    width: 100%;
}

.navbar-brand {
    font-size: 36px;
    margin: 24px;
    font-family: platino, ‘Book Antiqua’, Georgia, Garamond, ‘Times New Roman’, Times, serifTimes, serif
}

.navbar-brand:hover {
    color: #9d9d9d !important;
}

    .nav li {
        padding-top: 24px;
        margin: 0;
        margin-right: 24px;
    }

    .nav .active {
        color: #f46151 !important;
    }

    .nav li a {
        font-size: 16px !important;
        color: #9d9d9d !important;
    }

    nav .nav a:hover {
        color: #f46151 !important;
        background-color: #444 !important;
    }


/* FOOTER */
footer {
    background-color: #222 !important;
    margin-top: 36px;
}

    footer .container {
        width: 100%;
        margin: 0;
    }
    
        footer .container h4 {
            margin-top: 36px;
            color: #9d9d9d;
            font-size: 16px;
            text-transform: uppercase;
        }

        footer .container p {
            color: white;
            margin-bottom: 36px;
        }

        footer .container .col-md-offset-3 {
            text-align: right;
            padding-right: 15px;
        }

.mylinks {
    list-style-type: none;
    padding: 0;
    padding-top: 12px;
}

    .mylinks li {
        display: inline;
        margin-left: 12px;
    }

.copyright {
    margin-top: 24px;
    text-align: center;
}

.aboutme {
    margin-top: 36px;
}
