.myblog {
    margin-top: 36px;
}

.hr-blog {
    border-top: 4px solid;
    color: rgba(0, 0, 0, 0.4);
}

.no-project {
    text-align: ;
}

.blog-post-title {
    color: #f46141;
    margin-bottom: 0;
}

.blog-post-meta {
    margin-bottom: 13px;
    color: #9d9d9d;
}


.blog-sidebar li {
    margin-bottom: 12px;
}

.indented-p {
    font-size: 12px;
    font-style: italic;
    margin-left: 30px;
}

button.replace-by-dropdown {
    width: 130px;
    text-align: left;
}

.dropdown-label {
    text-align: right;
}

.blog-image {
    display: block;
    margin: 24px auto 24px auto;
    border: 2px solid black;
    width: 570px;
    height: auto;
}

.btn-scroller {
    margin: 24px auto;
    text-align: center;
}

    .btn-scroller .btn-primary {
        background-color: #f46151;
        border-color: #f05141;
    }

    .btn-scroller .btn-primary:hover {
        background-color: #e24131;
    }

    .btn-scroller .scroller-left{
        margin-right: 36px;
    }

    .btn-scroller .scroller-right{
        margin-left: 36px;
    }

input.transit {
    margin-right: 40px;
    margin-bottom: 4px;
    float: right;
}
