{% extends "layout.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container showcase-post">

            <h1>Taking the Bus in San Francisco</h1>
            <p>
            This is version 1.0 of my San Francisco project! I'm really happy with how it has turned out.
            This project involved learning some simple GIS tools, and learning lots about D3 to make the my visualization.
            I'm hoping to add passenger data and to size the bus-dots according to how many passengers are on-board.
            I might also look into adding zoom-in/zoom-out functionality.
            If anyone has any suggestions to make this more interesting, I'd love to hear them!
            </p>

            <p><a class="btn btn-primary btn-med" href='{{ url_for("specific_projects", projectname="20160222_transit") }}' role="button">Learn more &raquo;</a></p>

            <hr class="hr-jumbo">
        </div> <!-- end container -->
    </div> <!-- end jumbotron -->

    <div class="container next-posts">
        <div class="row">
            <div class="col-md-4">

                <h2>Continuous Variables, Please!</h2>
                <p>
                In my first two decision tree posts, I totally forgot to talk about how to handle continuous features and continuous target variables. Whoops.
                Well you can read about them here.
                </p>

                <p><a class="btn btn-default" href='{{ url_for("specific_projects", projectname="20160204_decisiontrees3") }}' role="button">Learn more &raquo;</a></p>

            </div> <!-- end col-md-4 -->


            <div class="col-md-4">
                <h2>Building a Better Tree</h2>
                <p>
                Last time, I tried predicting whether a passenger of the Titanic survived using only their sex and passenger class.
                This time around, I look at how to evaluate the performance of a tree, and address my under-fitting and over-fitting problems.
                </p>

                <p><a class="btn btn-default" href='{{ url_for("specific_projects", projectname="20160201_decisiontrees2") }}' role="button">View details &raquo;</a></p>
            </div> <!-- end col-md-4 -->

            <div class="col-md-4">
                <h2>Trees, Breakfast, and the RMS Titanic</h2>
                <p>
                This is the first of a series of blog posts which is document my experience
                as I learn about decision trees! In this post, I share how I use a decision tree
                to help me pick my breakfast, and how I use a simple decision tree to predict the
                surival of passengers on the Titanic.
                </p>

                <p><a class="btn btn-default" href='{{ url_for("specific_projects", projectname="20160122_decisiontrees1") }}' role="button">View details &raquo;</a></p>
            </div> <!-- end col-md-4 -->

        </div> <!-- end row -->
    </div> <!-- end container -->
{% endblock %}
