{% extends "layout.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container showcase-post">

            <h1>Angry Doug and the Seattle Receiver Corp</h1>
            <p>Angry Doug has put up quite phenominal numbers in his past few games. How does he actually compare to the top receivers of 2015?
            How does he compare to himself since 2012? And how does he compare to Carolina's receivers?
            Long story short: things are looking pretty good for Angry Doug and Seattle.</p>

            <p><a class="btn btn-primary btn-med" href='{{ url_for("specific_projects", projectname="20160113_WR") }}' role="button">Learn more &raquo;</a></p>

            <hr class="hr-jumbo">
        </div> <!-- end container -->
    </div> <!-- end jumbotron -->

    <div class="container next-posts">
        <div class="row">

            <div class="col-md-4">
                <h2>Home Field Advantage (pt 3)</h2>
                <p>If you read my last post (home field advantage pt 2), I included some plots which compared
                teams based on their win-rating, points per game, and points allowed per game.
                Now you can generate your own plots!

                <p><a class="btn btn-default" href= '{{ url_for("specific_projects", projectname="20160103_homefieldadvantage3") }}' role="button">View details &raquo;</a></p>
            </div> <!-- end col-md-4 -->

            <div class="col-md-4">
                <h2>Home Field Advantage (pt 2)</h2>
                <p>Which teams in the NFL are most affected by the <em>home field advantage</em>?
                In this post, I explore on a team-by-team basis how at-home performance compares to general performance,
                where performance is measured by the win-rating, points per game, and points allowed per game.
                Spoilers: Seattle has a pretty good home field advantage.</p>

                <p><a class="btn btn-default" href='{{ url_for("specific_projects", projectname="20151217_homefieldadvantage2") }}' role="button">View details &raquo;</a></p>
            </div> <!-- end col-md-4 -->

            <div class="col-md-4">
                <h2>Home Field Advantage (pt 1)</h2>
                <p>The very first post! The effect of the <em>home field advantage</em> is explored across the entire NFL.
                Spoilers: on average, there is barely an effect. The next post explores the effect of the home field advantage
                for individual teams.</p>

                <p><a class="btn btn-default" href='{{ url_for("specific_projects", projectname="20151210_homefieldadvantage1") }}' role="button">View details &raquo;</a></p>
            </div> <!-- end col-md-4 -->

        </div> <!-- end row -->
    </div> <!-- end container -->
{% endblock %}
