{% extends "layout.html" %}

{% block content %}

<div class="container myblog">

    <!-- TITLE SECTION -->
    <div class="blog-header">
        <h1 class="blog-title">The Projects</h1>
        <p class="lead blog-description">Find out what Kendrick has been up to.</p>
        <hr class="hr-blog">
    </div>

    <div class="row">
        <!-- THE POST -->
        <div class="col-xs-9 blog-main blog-post">
            {% block blogcontent %}{% endblock %}
        </div> <!-- end blog-post -->

        <!-- THE OTHER POSTS -->
        <div class="col-xs-3 blog-sidebar">
            <div class="sidebar-module">
                <h4>List o' Projects</h4>
                <ol class="list-unstyled">
                    <li><a href='{{ url_for("specific_projects", projectname="20160201_decisiontrees2") }}'>Building a Better Tree</a></li>
                    <li><a href='{{ url_for("specific_projects", projectname="20160122_decisiontrees1") }}'>Trees, Breakfast, and the RMS Titanic</a></li>
                    <li><a href='{{ url_for("specific_projects", projectname="20160113_WR") }}'>Angry Doug and the Seattle Receiver Corps</a></li>
                    <li><a href='{{ url_for("specific_projects", projectname="20160103_homefieldadvantage3") }}'>NFL Home Field Advantage (pt 3)</a></li>
                    <li><a href='{{ url_for("specific_projects", projectname="20151217_homefieldadvantage2") }}'>NFL Home Field Advantage (pt 2)</a></li>
                    <li><a href='{{ url_for("specific_projects", projectname="20151210_homefieldadvantage1") }}'>NFL Home Field Advantage (pt 1)</a></li>
                </ol>
            </div> <!-- end sidebar-module -->
        </div> <!-- end blog-sidebar -->
    </div> <!-- end row -->
</div> <!-- end container -->
{% endblock %}
